<footer>
    <div class="linkContainer">
        <div class="links">
            <span class="linkGroup">
                <a class="google-material-icons" href="https://twitter.com/google" target="_blank" aria-label="Follow us on Twitter">post_twitter</a>
                <a class="google-material-icons" href="https://www.linkedin.com/company/google/" target="_blank" aria-label="Follow us on LinkedIn">post_linkedin</a>
            </span>
        </div>
    </div>
    <div class="content-license">
        <strong>Ask Vertex Search is an experimental demo application and not for production use.</strong>
    </div>
</footer>