<header>
    <a href="/"><img src="/img/vertexai.png" height="48" class="vertexai-logo" alt="Ask Vertex Search"></a>
    <nav>
        <label>
            <input id="checkbox" type="checkbox">
            <span class="menu"> <span class="hamburger"></span> </span>
            <ul>
                <li><a href="/">Home&nbsp;&nbsp;<span class="google-material-icons"></span></a></li>
                <li><a href="https://..." target="_blank">Something Cool&nbsp;&nbsp;<span class="google-material-icons">open_in_new</span></a></li>
                <li><a href="https://..." target="_blank">Source Code&nbsp;&nbsp;<span class="google-material-icons">open_in_new</span></a></li>
            </ul>
            <div class="page-overlay"></div>
        </label>
    </nav>
</header>
{{- partial "site_banner" . -}}
{{- partial "page_banner" . -}}
